.calendarContainer {
  position: relative;
}

.customEvent {
  width: 100%;
  cursor: pointer;
  background-color: #3a87ad;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #285e8e;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s; /* Add a transition for a smooth effect */

  /* Additional styles for the hovered event */
  &.hoveredEvent {
    background-color: #2b669a; /* Customize the background color for the hovered event */
  }
}

/* Additional styles for the hovered event info */
.hoveredEventInfo {
  position: absolute;
  top: 0;
  left: 100%;
  padding: 10px;
  border-radius: 5px;
  z-index: 99; /* Ensure it's above the calendar */
}
