:root {
  --primary: #058C42;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

body.modal-open {
  padding: 0 !important;
}



.vertical-line-sm {
  border-left: 1px solid white;
  height: 0.8rem; /* Adjust the height as needed */
}